div.books-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

div.books-list a{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

span.books-list-text {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

span.books-list-text-title {
  opacity: 1;
}

span.books-list-text-info {
  color: white;
  height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.books-list-text-info span {
  height: 0;
  width: 100%;
}

span.books-list-text span {
  text-align: center;
  vertical-align: middle;
  display: block;
}

span.books-list-text-title:hover + span.books-list-text-info {
  height: auto;
  opacity: 1;
}

span.books-list-text-title:hover + span.books-list-text-info span {
  height: auto;
}

span.books-list-text:hover {
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

