div.book-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
}

div.book-list a{
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
}

span.book-list-text {
  background: rgba(0,0,0,0.5);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
}

span.book-list-text-title {
  opacity: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

span.book-list-text-info {
  color: white;
  height: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.book-list-text-info span {
  height: 0;
  width: 100%;
}

span.book-list-text span {
  text-align: center;
  vertical-align: middle;
  display: block;
}

span.book-list-text-title:hover + span.book-list-text-info {
  height: auto;
  opacity: 1;
}

span.book-list-text-title:hover + span.book-list-text-info span {
  height: auto;
}

span.book-list-text:hover {
  background: rgba(0,0,0,0.7);
  z-index: 1;
}

span.help-info {
  color: #8c8c8c;
}
