.regular-button {
    background-color: #d6e9c6 !important;
}

.critical-button {
    background-color: #d43f3a;
}

body {
    background-color: #e3e3e3;
}

.bootstrap-select.btn-group .btn .filter-option {
    text-align: center;
}
