@import com.wallet.book.core.Book;
@import java.util.List;

@args (List<Book> bookList)

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>tiny wallet</title><!-- layoutit -->

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
	<link href="/css/bootstrap.colorpickersliders.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">

</head>

<body>
	<div class="row">
		<div class="col-md-4" id="bookList">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" onclick="newBook()">new</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" onclick="submitList()">submit</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" onclick="location.href='/'">cancel</button>
				</div>
			</div>
			@if (bookList != null) {
				@for (Book book : bookList) {
					<form role="form" id="bookForm">
						<input type="hidden" class="bookID" name="id" value="@?book.getId()">
						<div class="form-group">
							<input type="hidden" class="bookAction" name="action" value="edit">
							<input type="hidden" class="bookColor" name="picture_id" id="bookColor@?book.getId()" value="@?book.getPicture_id()">
							<div class="input-group">
								<span class="input-group-addon btn bookColorBtn" id="bookdColorBtn@?book.getId()">Color</span>
								<input type="button"
									   class="bookName form-control btn"
									   id="bookName@?book.getId()"
									   name="name"
									   value="@?book.getName()"
									   title="@?book.getName()"
									   style="background-color: @?book.getPicture_id(); text-align: center;"
									   required="true" readonly>
								<span class="input-group-addon btn bookDelete">X</span>
							</div>
						</div>
					</form>
					<form role="form" id="bookShareForm">
						<input type="hidden" name="">
					</form>
				}
			}
		</div>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/tinycolor.js"></script>
	<script src="/js/bootstrap.colorpickersliders.js"></script>
	<script src="/js/APIs.js"></script>
	<script src="/js/views/bookList.js"></script>

</body>
</html>
