@import com.wallet.books.core.BooksEntry;
@import com.wallet.login.core.User;
@import com.wallet.utils.misc.Dict;
@import java.util.List;
@import java.util.HashMap;

@args (List<BooksEntry> booksEntryList, HashMap<String, String> colorMap, int booksEntrysEachLine, User user)

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>tiny wallet</title><!-- layoutit -->

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/views/booksEntryList.css" rel="stylesheet">

</head>

<body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1113219878783764',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


	<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="regular-button btn btn-default" onclick="window.location.href='/books/entry/0'">new</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="regular-button btn btn-default" onclick="window.location.href='/books/categories'">categories</button>
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="regular-button btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@if (user != null) {
							@user.getName()?:"visitor"
                		}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="/users/insertuserview">edit user</a></li>
                        @if (user != null && user.getUser_id().startsWith(Dict.FACEBOOK_PREFIX)) {
							<li><a onclick="logout()">logout</a></li>
						} else {
							<li><a href="/logout">logout</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="yearMinus" onclick=""><<</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="monthMinus" onclick=""><</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="display-button btn btn-default dropdown-toggle" id="yearShow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<ul class="dropdown-menu" id="yearSelector">
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
					</ul>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="display-button btn btn-default dropdown-toggle" id="monthShow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<ul class="dropdown-menu" id="monthSelector">
						<li><a>Jan</a></li>
						<li><a>Feb</a></li>
						<li><a>Mar</a></li>
						<li><a>Apr</a></li>
						<li><a>May</a></li>
						<li><a>Jun</a></li>
						<li><a>Jul</a></li>
						<li><a>Aug</a></li>
						<li><a>Sep</a></li>
						<li><a>Oct</a></li>
						<li><a>Nov</a></li>
						<li><a>Dec</a></li>
					</ul>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="monthPlus" onclick="">></button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="yearPlus" onclick="">>></button>
				</div>
			</div>
		</div>
	</div>
    @if (booksEntryList == null || booksEntryList.size() == 0) {
	<div>nothing found</div>
	}

	<div id="booksList">
		@for (int i = 0; booksEntryList != null && i < booksEntryList.size(); i++) {
			<div class="col-md-@(12 / booksEntrysEachLine)">
				<div class="books-list">
					<a>
						<span class="books-list-text" title="@booksEntryList.get(i).getId()">
							<span class="books-list-text-title" id="bookTitle"
								@if (booksEntryList !=null && colorMap !=null) {
									style="background: #@?colorMap.get(booksEntryList.get(i).getCategory())"
								}
							>
								@booksEntryList.get(i).getEvent_date() $@booksEntryList.get(i).getAmount() @?booksEntryList.get(i).getNote()
							</span>
							<span class="books-list-text-info">
								<span id="bookCategory">category: @booksEntryList.get(i).getCategory()</span>
								<span id="bookNote">note: @booksEntryList.get(i).getNote()</span>
							</span>
						</span>
						</br>
					</a>
				</div>
			</div>
		}
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/views/booksEntryList.js"></script>

</body>
</html>