@import com.wallet.books.core.BooksEntry;
@import com.wallet.login.core.User;
@import java.util.List;
@import java.util.HashMap;

@args (List<BooksEntry> booksEntryList, HashMap<String, String> colorMap, int booksEntrysEachLine, User user)

<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>tiny wallet</title><!-- layoutit -->

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/views/booksEntryList.css" rel="stylesheet">

</head>

<body>
	@if (user != null) {
	<div>Hello, @user.getName()?:"visitor"</div>
	}
	<div class="row">
		<div class="col-md-2">
			<button type="button" value="go" onclick="window.location.href='/books/entry/0'">new item</button>
		</div>
		<div class="col-md-2">
			<button type="button" onclick="window.location.href='/logout'">logout</button>
		</div>
		<div class="col-md-2">
			<button type="button" onclick="window.location.href='/books/categories'">categories</button>
		</div>
		<div class="col-md-2">
			<button type="button" onclick="window.location.href='/users/insertuserview'">edit user</button>
		</div>
	</div>
    @if (booksEntryList == null || booksEntryList.size() == 0) {
	<div>nothing found</div>
	}
	<div id="booksList">
		@for (int i = 0; booksEntryList != null && i < booksEntryList.size(); i++) {
    		@if (i % booksEntrysEachLine == 0) {
				<div class="row">
			}
					<div class="col-md-@(12 / booksEntrysEachLine)">
						<div class="books-list">
							<a>
								<span class="books-list-text" title="@booksEntryList.get(i).getId()">
									<span class="books-list-text-title" id="bookTitle"
										@if (booksEntryList !=null && colorMap !=null) {
											style="background: #@?colorMap.get(booksEntryList.get(i).getCategory())"
										} else {
											style="background: #002a80"
										}
									>
										@booksEntryList.get(i).getEvent_date() $@booksEntryList.get(i).getAmount()
									</span>
									<span class="books-list-text-info">
										<span id="bookCategory">category: @booksEntryList.get(i).getCategory()</span>
										<span id="bookNote">note: @booksEntryList.get(i).getNote()</span>
									</span>
								</span>
							</a>
						</div>
					</div>
			@if ((i + 1) % booksEntrysEachLine == 0 || i == booksEntryList.size() - 1) {
				</div>
			}
		}
	</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/views/booksEntryList.js"></script>

</body>
</html>