@import com.wallet.books.core.Category;
@import java.util.List;

@args (com.wallet.books.core.BooksEntry booksEntry, List<Category> CategoryList, String date)

<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>tiny wallet</title><!-- layoutit -->

<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="/css/views/booksEntry.css" rel="stylesheet">

</head>

<body>
	<div class="row">
		<div class="col-md-4">
			<form role="form" action="/books/insertentry" method="post" id="booksEntryForm">
				<input type="text" id="booksEntryID" name="id"
					@if(booksEntry != null) {
						value="@?booksEntry.getId()"
					}
					style="display: none">
				<div class="form-group">
					<label for="booksEntryEventDate">
						Date
					</label>
					<div class='input-group date' data-provide='datepicker'>
						<input type="text" class="form-control" placeholder="mm/dd/yyyy" id="booksEntryEventDate" name="event_date" value="@date" required="true">
						<span class="btn input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="booksEntryAmount">
						Amount
					</label>
					<div class='input-group'>
						<input type="number" class="form-control" placeholder="$" id="booksEntryAmount" name="amount"
							@if (booksEntry != null) {
								value="@?booksEntry.getAmount()"
							}
						 required="true">
						<span class="btn input-group-addon">
							<span class="glyphicon glyphicon-italic"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="booksEntryCategory">
						Category
					</label>
					<div class="input-group" id="booksEntryCategoryDiv">
						<input class="form-control" value="general" placeholder="input or select" id="booksEntryCategory" name="category" type="text" required="true">
						<ul class="dropdown-menu" id="booksEntryCategoryList">
							@for (Category category : CategoryList) {
								<li style="background: #@?category.getPicture_id()">
									<a style="color: white">@category.getName()</a>
								</li>
							}
						</ul>
						<span class="btn input-group-addon dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="booksEntryNote">
						Note
					</label>
					<textarea type="text" class="form-control" id="booksEntryNote" name="note"
						@if (booksEntry != null) {
							value="@?booksEntry.getNote()"
						}
					></textarea>
				</div>
				<div class="form-group" style="display: none;">

					<label for="booksEntryPhoto">
						Photo
					</label>
					<textarea type="text" class="form-control" id="booksEntryPhoto" name="photo"
						@if (booksEntry != null) {
							value="@?booksEntry.getPhoto()"
						}
					></textarea>
				</div>
				<button type="submit" id="booksEntrySubmit">submit</button>
			</form>
			@if (booksEntry != null && booksEntry.getId() != null && booksEntry.getId().length() > 1) {
				<form role="form" action="/books/deleteentry" method="post">
					<input type="text" name="id"
						   @if(booksEntry != null) {
						   value="@?booksEntry.getId()"
						   }
						   style="display: none">
					<button type="submit" action="/books/deleteentry" method="post">delete</button>
				</form>
			}
		</div>
	</div>
	<div>
		<button type="button" value="back" onclick="location.href='/books'">back</button>
	</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/jscolor.min.js"></script>
<script src="/js/views/booksEntry.js"></script>

</body>
</html>
