@import com.wallet.book.core.Book;
@import com.wallet.book.core.BookEntry;
@import com.wallet.book.core.Category;
@import com.wallet.login.core.User;
@import com.wallet.utils.misc.Dict;
@import java.util.List;
@import java.util.HashMap;

@args (List<BookEntry> bookEntryList, HashMap<String, Book> bookMap, List<Category> categoryList, HashMap<String, String> colorMap, int bookEntriesEachLine, User user)

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>tiny wallet</title><!-- layoutit -->

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/views/bookEntryList.css" rel="stylesheet">

</head>

<body>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1113219878783764',
            cookie     : true,
            xfbml      : true,
            version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


	<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info" onclick="location='/books/entry/0'">
                        new
					</button>
				</div>
				<div class="btn-group" role="group">
					<select class="selectpicker" id="entryFilterSelector" multiple data-width="100%" data-size="false" data-style="btn-info">
						<optgroup label="Select Category">
							<option class="option-category" data-subtext="$unknown" selected>All</option>
							@if (categoryList != null) {
								@for (Category category : categoryList) {
									<option class="option-category" style="background: @?category.getPicture_id();" data-subtext="$unknown">
										@?category.getName()
									</option>
								}
							}
						</optgroup>
						<optgroup label="Select Book">
						<option class="option-book" data-subtext="$unknown" selected>All</option>
						@if (bookMap != null) {
							@for (Book book : bookMap.values()) {
								<option class="option-book" style="background: @?book.getPicture_id();" data-subtext="$unknown">
									@?book.getName()
								</option>
							}
						}
                        </optgroup>
						<option data-divider="true"></option>
						<option class="option-control" value="/books/categories">Edit Categories</option>
						<option class="option-control" value="/books/booklist">Edit Book</option>
					</select>
				</div>

				<div class="btn-group" role="group">
					<button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						@if (user != null) {
							@user.getName()?:"visitor"
                		}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
                        @if (user != null && user.getUser_id().startsWith(Dict.FACEBOOK_PREFIX)) {
							<li><a onclick="logout()">logout</a></li>
						} else {
							<li><a href="/users/insertuserview">edit user</a></li>
							<li><a href="/logout">logout</a></li>
						}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="yearMinus" onclick=""><<</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="monthMinus" onclick=""><</button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="display-button btn btn-default dropdown-toggle" id="yearShow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<ul class="dropdown-menu" id="yearSelector">
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
						<li><a></a></li>
					</ul>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="display-button btn btn-default dropdown-toggle" id="monthShow" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					</button>
					<ul class="dropdown-menu" id="monthSelector">
						<li><a>Jan</a></li>
						<li><a>Feb</a></li>
						<li><a>Mar</a></li>
						<li><a>Apr</a></li>
						<li><a>May</a></li>
						<li><a>Jun</a></li>
						<li><a>Jul</a></li>
						<li><a>Aug</a></li>
						<li><a>Sep</a></li>
						<li><a>Oct</a></li>
						<li><a>Nov</a></li>
						<li><a>Dec</a></li>
					</ul>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="monthPlus" onclick="">></button>
				</div>
				<div class="btn-group" role="group">
					<button type="button" class="control-button btn btn-default" id="yearPlus" onclick="">>></button>
				</div>
			</div>
		</div>
	</div>
    @if (bookEntryList == null || bookEntryList.size() == 0) {
	<div>nothing found</div>
	}

	<div id="bookList">
		@for (int i = 0; bookEntryList != null && i < bookEntryList.size(); i++) {
			<div class="col-md-@(12 / bookEntriesEachLine)">
				<div class="book-list">
					<a>
						<span class="book-list-text" title="@bookEntryList.get(i).getId()" tabindex="@i">
							<span class="book-list-text-title" id="bookTitle"
								@if (bookEntryList !=null && colorMap !=null) {
									style="background: @?colorMap.get(bookEntryList.get(i).getCategory())"
								}
							>
								@if (bookEntryList.get(i).getNote().length() < 10) {
									@bookEntryList.get(i).getEvent_date() $@(((double)bookEntryList.get(i).getAmount())/100) @?bookEntryList.get(i).getNote()
								} else {
									@bookEntryList.get(i).getEvent_date() $@(((double)bookEntryList.get(i).getAmount())/100) @?bookEntryList.get(i).getNote().substring(0, 10)
								}
							</span>
							<span class="book-list-text-info">
								<span id="bookCategory">category: @bookEntryList.get(i).getCategory()</span>
								@if (bookMap != null  && bookMap.containsKey(bookEntryList.get(i).getBook_id())) {
									<span id="bookName">book: @?bookMap.get(bookEntryList.get(i).getBook_id()).getName()</span>
                                } else {
									<span id="bookName">book: default</span>
								}
							</span>
						</span>
						</br>
					</a>
				</div>
			</div>
		}
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-select.min.js"></script>
	<script src="/js/general.js"></script>
	<script src="/js/views/bookEntryList.js"></script>

</body>
</html>