<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>tiny wallet</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker.min.css" rel="stylesheet">

</head>

<body>
<div class="row">
    <div class="col-md-4">
        <form role="form" action="/login" method="post">
            <label for="loginUserID">
                user ID
            </label>
            <input type="text" name="user_id" class="form-control" id="loginUserID">
            <label for="loginPassword">
                password
            </label>
            <input type="password" name="password" class="form-control" id="loginPassword">
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/books.js"></script>

</body>
</html>
