<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>tiny wallet</title><!-- layoutit -->

<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/booksList.css" rel="stylesheet">

</head>

<body>
	<div class="row">
		<div class="col-md-12">
			<form role="form">
				<div class="form-group">
					 
					<label for="booksItemUserId">
						user ID
					</label>
					<input type="text" class="form-control" id="booksItemUserId">
				</div>
				<div class="form-group">
					 
					<label for="booksItemEventDate">
						Date
					</label>
					<input type="date" class="form-control" id="booksItemEventDate">
				</div>
				<div class="form-group">
					 
					<label for="booksItemAmount">
						Amount
					</label>
					<input type="text" class="form-control" id="booksItemAmount">
				</div>
				<div class="form-group">
					 
					<label for="booksItemCategory">
						Category
					</label>
					<input type="text" class="form-control" id="booksItemCategory">
				</div>
				<div class="form-group">
					 
					<label for="booksItemNote">
						Note
					</label>
					<input type="text" class="form-control" id="booksItemNote">
				</div>
			</form>
		</div>
	</div



	<div id="test">
		<button type="button" onclick="insertBooksItem()">insert</button>
	</div>
	</br>
	</br>
	</br>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/controlBooks.js"></script>
<script src="../js/views/newBooksItem.js"></script>

</body>
</html>
