<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>tiny wallet</title><!-- layoutit -->

<link href="../css/bootstrap.min.css" rel="stylesheet">
<link href="../css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="../css/views/newBooksItem.css" rel="stylesheet">

</head>

<body>
	<div class="row">
		<div class="col-md-4">
			<form role="form" id="booksItemForm">
				<div class="form-group" id="booksItemUserIdDiv">
					 
					<label for="booksItemUserId">
						user ID
					</label>
					<input type="text" class="form-control" id="booksItemUserId">
				</div>
				<div class="form-group">
					<label for="booksItemEventDate">
						Date
					</label>
					<div class='input-group date' data-provide='datepicker'/>
						<input type="text" class="form-control" placeholder="mm/dd/yyyy" id="booksItemEventDate">
						<span class="btn input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="booksItemAmount">
						Amount
					</label>
					<input type="number" class="form-control" placeholder="$" id="booksItemAmount">
				</div>
				<div class="form-group">
					 
					<label for="booksItemCategory">
						Category
					</label>
					<div class="input-group" id="booksItemCategoryDiv">
						<input class="form-control" value="general" placeholder="input or select" id="booksItemCategory" type="text">
						<ul class="dropdown-menu" id="booksItemCategoryList">
						</ul>
						<span class="btn input-group-addon dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-menu-hamburger"></span>
						</span>
					</div>
				</div>
				<div class="form-group">
					 
					<label for="booksItemNote">
						Note
					</label>
					<textarea type="text" class="form-control" id="booksItemNote"></textarea>
				</div>
				<button type="button" id="booksItemSubmit" onclick="postBooksItem()">submit</button>
			</form>
		</div>
	</div>
	<div>
		<button type="button" value="back" onclick="location.href='/index.html'">back</button>
		<button type="button" value="delete" id="booksItemDelete" style="display:none" onclick="deleteBooksItem()">delete</button>
	</div>
	</br>
	</br>
	</br>

<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/bootstrap-datepicker.min.js"></script>
<script src="../js/books.js"></script>
<script src="../js/views/newBooksItem.js"></script>

</body>
</html>
