<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<form role="form">
				<div class="form-group">
					 
					<label for="vehicleZipcode">
						Zipcode
					</label>
					<input type="number" class="form-control" id="vehicleZipcode">
				</div>
				<div class="form-group">
					 
					<label for="vehicleYear">
						Year
					</label>
					<input type="number" class="form-control" id="vehicleYear">
				</div>
				<div class="form-group">
					 
					<label for="vehicleMaker">
						Maker
					</label>
					<input type="text" class="form-control" id="vehicleMaker">
				</div>
				<div class="form-group">
					 
					<label for="vehicleModel">
						Model
					</label>
					<input type="text" class="form-control" id="vehicleModel">
				</div>
				<hr>
				<div class="form-group">
					<label for="vehiclePriceType">
						Price Type
					</label>
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#vehicleSale" aria-expanded="false" aria-controls="vehicleSale">sale</button>
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#vehicleLease" aria-expanded="false" aria-controls="vehicleLease">lease</button>
						<button class="btn btn-default" type="button" data-toggle="collapse" data-target="#vehicleFinance" aria-expanded="false" aria-controls="vehicleFinance">finance</button>
					</span>
					<br>
					<div>
						<div class="form-group collapse" id="vehicleSale">
							<div class="card card-block">
							 
								<label for="vehicleSale">
									Sale Price
								</label>
								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="number" class="form-control" id="vehicleSalePrice">
								</div>
							</div>
						</div><!-- vehicleSale -->
						<div class="form-group collapse" id="vehicleLease">
							<div class="card card-block">
							 
								<label for="vehicleLease">
									Lease
								</label>
								<div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">monthly $</span>
											<input type="number" class="form-control" id="vehicleLeaseMonthlyPrice">
										</div>
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">first payment $</span>
											<input type="number" class="form-control" id="vehicleLeaseFirstPayment">
										</div>
									</div>
								</div>
							</div>
						</div><!-- vehicleLease -->
						<div class="form-group collapse" id="vehicleFinance">
							<div class="card card-block">
							 
								<label for="vehicleFinance">
									Finance
								</label>
								<div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">APR</span>
											<input type="number" class="form-control" id="vehicleFinanceAPR">
										</div>
									</div>
									<div class="col-md-6">
										<div class="input-group">
											<span class="input-group-addon">term</span>
											<div class="btn-group" aria-label="vehicleFinanceTerm-btns">
												<button type="button" class="btn btn-default" id="vehicleFinanceTerm-12" data-wat="12">12</button>
												<button type="button" class="btn btn-default" id="vehicleFinanceTerm-24" data-wat="24">24</button>
												<button type="button" class="btn btn-default" id="vehicleFinanceTerm-36" data-wat="36">36</button>
												<button type="button" class="btn btn-default active" id="vehicleFinanceTerm-48" data-wat="48">48</button>
												<button type="button" class="btn btn-default" id="vehicleFinanceTerm-60" data-wat="60">60</button>
												<button type="button" class="btn btn-default" id="vehicleFinanceTerm-72" data-wat="72">72</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- vehicleFinance -->
					</div>
				</div>
				<hr>
				<div class="form-group">
					 
					<label for="vehiclePhoto">
						photo
					</label>
					<input type="file" id="vehiclePhoto" />

					<p class="help-block">
						upload vehicle photo
					</p>
				</div>
				<div class="checkbox">
					 
					<label>
						<input type="checkbox"> Check me out
					</label>
				</div> 
				<button type="submit" class="btn btn-default" onclick="listNewVehicle()">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="../js/views/newVehicleList.js"></script>
  </body>
</html>
